<!-- <app-record-list #list
    [records]="(data$ | async)"
    [totalRecords]="getTotalRecords((data$ | async), (query$ | async)?.maxResults, (query$ | async)?.offset)"
    [rowsNum] = "(query$ | async)?.maxResults"
    [offset] = "(query$ | async)?.offset"
    [selectionMode] = "selectionMode"
    [settings]= "settings"
    [selectedColumns] = "settings"
    [primaryKey] = "primaryKey"
    [loading]= "loading$ | async"
    (rowClicked) = "rowClicked($event)"
    (rowDoubleClicked) = "rowDoubleClicked($event)"
    (offestEmit) = "offestEvent($event)"
    (rowsNumEmit) = "rowNumEvent($event)"
    (filtersFieldsEmit) = "filtersFieldsEvent($event)">
  </app-record-list> -->


