/* You can add global styles to this file, and also import other style files */

// Copied theme css from primeng
// WIP to update the styles for table
body .ui-table .ui-table-caption,
body .ui-table .ui-table-summary {
  background-color: #f4f4f4;
  color: #333333;
  border: 1px solid #c8c8c8;
  padding: 0.571em 1em;
  font-weight: 400;
  text-align: center; }
body .ui-table .ui-table-caption {
  border-bottom: 0 none; }
body .ui-table .ui-table-summary {
  border-top: 0 none; }
body .ui-table .ui-table-thead > tr > th {
  padding: 0.571em 0.857em;
  border: 1px solid #c8c8c8;
  font-weight: 400;
  color: #333333;
  background-color: #f4f4f4; }
body .ui-table .ui-table-tbody > tr > td {
  padding: 0.429em 0.857em; }
body .ui-table .ui-table-tfoot > tr > td {
  padding: 0.571em 0.857em;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #333333;
  background-color: #ffffff; }
body .ui-table .ui-sortable-column a, body .ui-table .ui-sortable-column a:hover {
  color: #848484; }
body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
  background-color: #e0e0e0;
  color: #333333; }
  body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover a, body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover a:hover {
    color: #333333; }
body .ui-table .ui-sortable-column.ui-state-highlight {
  background-color: #007ad9;
  color: #ffffff; }
  body .ui-table .ui-sortable-column.ui-state-highlight a, body .ui-table .ui-sortable-column.ui-state-highlight a:hover {
    color: #ffffff; }
body .ui-table .ui-editable-column input {
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif; }
  body .ui-table .ui-editable-column input:focus {
    outline: 1px solid #007ad9;
    outline-offset: 2px; }
body .ui-table .ui-table-tbody > tr {
  background: #ffffff;
  color: #333333; }
  body .ui-table .ui-table-tbody > tr > td {
    background: inherit;
    border: 1px solid #c8c8c8; }
  body .ui-table .ui-table-tbody > tr.ui-state-highlight {
    background-color: #007ad9;
    color: #ffffff; }
  body .ui-table .ui-table-tbody > tr.ui-contextmenu-selected {
    background-color: #007ad9;
    color: #ffffff; }
body .ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: #f9f9f9; }
  body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
    background-color: #007ad9;
    color: #ffffff; }
  body .ui-table .ui-table-tbody > tr:nth-child(even).ui-contextmenu-selected {
    background-color: #007ad9;
    color: #ffffff; }
body .ui-table.ui-table-hoverable-rows .ui-table-tbody > tr:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover {
  cursor: pointer;
  background-color: #eaeaea;
  color: #333333; }
body .ui-table .ui-column-resizer-helper {
  background-color: #007ad9; }
@media screen and (max-width: 40em) {
  body .ui-table.ui-table-responsive .ui-paginator-top {
    border-bottom: 1px solid #c8c8c8; }
  body .ui-table.ui-table-responsive .ui-paginator-bottom {
    border-top: 1px solid #c8c8c8; }
  body .ui-table.ui-table-responsive .ui-table-tbody > tr > td {
    border: 0 none; } }


// Paginator styling
    body .ui-paginator {
      background-color: #f4f4f4;
      border: 1px solid #c8c8c8;
      padding: 0; }
      body .ui-paginator .ui-paginator-first,
      body .ui-paginator .ui-paginator-prev,
      body .ui-paginator .ui-paginator-next,
      body .ui-paginator .ui-paginator-last {
        color: #848484;
        height: 2.286em;
        min-width: 2.286em;
        border: 0 none;
        line-height: 2.286em;
        padding: 0;
        margin: 0;
        vertical-align: top;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; }
        body .ui-paginator .ui-paginator-first:not(.ui-state-disabled):not(.ui-state-active):hover,
        body .ui-paginator .ui-paginator-prev:not(.ui-state-disabled):not(.ui-state-active):hover,
        body .ui-paginator .ui-paginator-next:not(.ui-state-disabled):not(.ui-state-active):hover,
        body .ui-paginator .ui-paginator-last:not(.ui-state-disabled):not(.ui-state-active):hover {
          background-color: #e0e0e0;
          color: #333333; }
      body .ui-paginator .ui-dropdown {
        border: 0 none; }
        body .ui-paginator .ui-dropdown .ui-dropdown-trigger, body .ui-paginator .ui-dropdown .ui-dropdown-label {
          color: #848484; }
        body .ui-paginator .ui-dropdown:hover .ui-dropdown-trigger, body .ui-paginator .ui-dropdown:hover .ui-dropdown-label {
          color: #333333; }
      body .ui-paginator .ui-paginator-first:before {
        position: relative;
        top: 1px; }
      body .ui-paginator .ui-paginator-prev:before {
        position: relative; }
      body .ui-paginator .ui-paginator-next:before {
        position: relative;
        top: 1px; }
      body .ui-paginator .ui-paginator-last:before {
        position: relative;
        top: 1px; }
      body .ui-paginator .ui-paginator-pages {
        vertical-align: top;
        display: inline-block;
        padding: 0; }
        body .ui-paginator .ui-paginator-pages .ui-paginator-page {
          color: #848484;
          height: 2.286em;
          min-width: 2.286em;
          border: 0 none;
          line-height: 2.286em;
          padding: 0;
          margin: 0;
          vertical-align: top;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0; }
          body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
            background-color: #007ad9;
            color: #ffffff; }
          body .ui-paginator .ui-paginator-pages .ui-paginator-page:not(.ui-state-active):hover {
            background-color: #e0e0e0;
            color: #333333; }
      body .ui-paginator .ui-dropdown {
        margin-left: 0.5em;
        height: 2.286em;
        min-width: auto; }


// body
body .ui-panel .ui-panel-content {height: auto;}
body .ui-widget-overlay {opacity: 0.3;
  filter: alpha(opacity=30);}
